@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: local('Atkinson-Hyperlegible'), url(./Fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Twemoji-Country-Flags';
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
    src: local('Twemoji-Country-Flags'), url(./Fonts/Twemojo-Country-Flags/TwemojiCountryFlags.woff2) format('woff2');
}
